* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  background-image: linear-gradient(#141E30, #243B55);
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0 auto;
}

.container img {
  vertical-align: middle;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
